html {
  font-size: 10px;
  line-height: 10px;
}

body {
  font-size: 1.4rem;
  line-height: 1.71;
  @include ubuntu(light);
  color: $color-gray;
  -webkit-font-smoothing: antialiassed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

.modal-overlay {
  position: fixed;
  display: none;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(#2f3234, 0.92);

  &--show {
    display: block;
  }
}

.btn {
  display: inline-block;
  padding: 5px 16px;
  @include ubuntu(medium);
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $color-orange;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

.screen-bullets {
  position: fixed;
  top: 10%;
  right: 5%;
  z-index: 1;
  padding: 0;
  margin: 0;
  list-style: none;
  color: #ffffff;

  &__link {
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    margin-bottom: 5px;
    font-size: 0;
    color: #ffffff;
    text-decoration: none;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 6px;
      height: 6px;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background-color: #ffffff;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0;
      height: 0;
      border: 1px solid #ffffff;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: 0.4s;
    }
  }
}

.screen-bullets__link:hover::after,
.active .screen-bullets__link::after {
  width: 16px;
  height: 16px;
  opacity: 1;
}

.section {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section__title {
  margin-bottom: 40px;
  @include gagalin;
  font-size: 7.2rem;
  line-height: 1;

  &--yellow {
    color: $color-yellow;
  }

  &--white {
    color: #ffffff;
  }
}

%clearfix {
  &::before,
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// bootstrap styles

.alert-booking[data-notify="container"] {
  position: absolute;
  top: 40% !important;
  z-index: 2;
  width: 196px;
  height: 106px;
  padding: 19px 0;
  text-align: center;
  background-color: #ffffff;
  border-radius: 5px;
}

.alert-booking[data-notify="container"] > [data-notify="message"] {
  display: block;
  padding-bottom: 12px;
}

.alert-booking[data-notify="container"] > .close[data-notify="dismiss"] {
  position: static !important;
  display: inline-block;
  padding: 5px 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #e45028;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}
