@mixin gagalin($fontstyle: 'regular') {
  font-family: 'Gagalin', 'Arial', sans-serif;
  font-weight: 400;
}

@mixin lifehack($fontstyle: 'medium') {
  font-family: 'Lifehack', 'Arial', sans-serif;
}

@mixin ubuntu($fontstyle: 'light') {
  font-family: 'Ubuntu', 'Arial', sans-serif;
  font-weight: 300;

  @if ($fontstyle == 'regular') {
    font-weight: 400;
  } @else if ($fontstyle == 'medium') {
    font-weight: 500;
  } @else if ($fontstyle == 'bold') {
    font-weight: 700;
  }

}

@mixin fontsize($size, $height) {
  font-size: $size;
  line-height: $height;
}
