@font-face {
  font-family: "symbols-sedona";
  src: url("../font/symbols-sedona.eot?60737633");
  src: url("../font/symbols-sedona.eot?60737633#iefix") format("embedded-opentype"),
       url("../font/symbols-sedona.woff?60737633") format("woff"),
       url("../font/symbols-sedona.ttf?60737633") format("truetype"),
       url("../font/symbols-sedona.svg?60737633#symbols-sedona") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "symbols-sedona";
    src: url("../font/symbols-sedona.svg?60737633#symbols-sedona") format("svg");
  }
}
*/
 
.icons,[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols-sedona";
  font-style: normal;
  font-weight: normal;
  speak: none;
 	
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-facebook:before { content: "\66"; } /* "f" */
.icon-twitter:before { content: "\74"; } /* "t" */
.icon-up-dir:before { content: "\25b2"; } /* "▲" */
.icon-down-dir:before { content: "\25bc"; } /* "▼" */
.icon-star:before { content: "\2605"; } /* "★" */
.icon-check-off:before { content: "\2610"; } /* "☐" */
.icon-check-on:before { content: "\2611"; } /* "☑" */
.icon-calendar:before { content: "\e800"; } /* "" */
.icon-plus:before { content: "\e801"; } /* "" */
.icon-minus:before { content: "\e802"; } /* "" */
.icon-youtube:before { content: "\f39e"; } /* "" */

body {	
	min-width: 1200px;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: normal;
	text-transform: uppercase;
	color: #000000;
	background-color: #eaeaea;
}

.page-wrapper {
	max-width: 1200px;
	margin: 0 auto;
	background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, p {
	margin: 0;
	padding: 0;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.layout-center {
	width: 1056px;
	margin: 0 auto;
}

.main-header {	
	position: relative;
	margin-bottom: 60px;
}

.main-header-hotels {
	margin-bottom: 30px;
}

.main-nav {	
	padding: 19px 0;	
	background-color: #ffffff;	
	font-size: 0;
}

.main-nav a {
	display: inline-block;	
	vertical-align: middle;
	width: 20%;	
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;	
	text-align: center;
}

.logo {
	position: absolute;
	z-index: 2;
	display: block;
	top: 0;
	left: 50%;
	width: 138px;
	height: 70px;
	background: url("../img/main-logo.png") no-repeat;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.main-nav a:hover {
	color: #81b3d2;
}

.main-nav a:active {
	color: #000000;
	opacity: 0.3;
}

.header-image {
	position: relative;
	z-index: 1;
	width: 100%;
	min-height: 513px;	
	background-color: #dfeef5;
	background: 
	url("../img/white-line.png") no-repeat 0 100%,
	url("../img/index-image.jpg") no-repeat  0 -60px;							
}

.header-image-text {
	width: 576px;
	margin: 0 auto;
	padding-top: 77px; 
	text-align: center;
}

.first-line {	
	height: 45px;
	margin: 0 auto;
	margin-bottom: 12px;	
	background: url("../img/welcome.png") no-repeat 50% 0;
}

.second-line {		
	height: 30px;
	margin: 0 auto;
	margin-bottom: 54px;
	background: 
			url("../img/gorgeous-divider.png") no-repeat 50% 50%,
			url("../img/gorgeous.png") no-repeat 50% 0;
}

.third-line {	
	height: 78px;
	margin-bottom: 58px;
	background: url("../img/sedona.png") no-repeat 50% 0;
}

.fourth-line {
	height: 80px;
	background: url("../img/because.png") no-repeat 50% 0;
}

.page-header {	
	margin-bottom: 50px;
	text-align: center;		
}

.page-header h1 {	
	margin-bottom: 30px;	
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.page-header p {	
	color: #333333;
}

.second {
	margin-bottom: 50px; 
}

.reason-block {
	float: left;
	width: 400px;	
	padding: 40px 0; 
	background-color: #eeeeee;
	text-align: center;
	color: #000000;		
}

.reason-block-header {	
	margin-bottom: 25px;	
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;	
}

.reason-block-description {		
	color: #333333;	
}

.blue-block .reason-block-description {
	color: #ffffff;
}

.reason-number {	
	width: 50px;
	margin: 0 auto; 	
	margin-bottom: 19px;
	color: #333333;
}

.reason-number span {
	position: relative;
	z-index: 2;
	padding: 0 7px;
	background-color: #eeeeee;
}

.reason-number:after {
	content: "";
	display: block;
	position: relative;
	top: -13px;
	z-index: 1;
	border-bottom: 2px solid #979797;	
}

.blue-block {
	color: white;
	background-color: #81b3d2;
}

.blue-block .reason-number span {
	background-color: #81b3d2;
	color: #ffffff;
}

.blue-block .reason-number:after {
	content: "";
	display: block;
	position: relative;
	top: -13px;
	z-index: 1;
	border-bottom: 2px solid #bcd6e7;
}

.promo-block-image {
	float: left;
	width: 800px;
	height: 256px;
	background-color: lightblue;		 
}

.second .reason-block:first-child {
	float: right;
}

.feature-item {
	float: left;
	width: 254px;
	padding: 60px 73px;
	text-align: center;
	background-color: #ffffff;
	color: #000000;
}

.feature-image {
	margin: 0 auto;
	margin-bottom: 23px;
	background: url("../img/spritesheet.png") no-repeat;
}

.feature-header {
	margin-bottom: 23px;
}

.feature-description {
	color: #333333;
}

.feature-item:first-child .feature-image {
  width: 75px;
  height: 76px;
  background-position: -5px -5px;
}

.feature-item:nth-child(2) .feature-image {
	width: 74px;
  height: 76px;
  background-position: -5px -87px;
}

.feature-item:last-child .feature-image {
	width: 64px;
  height: 76px;
  background-position: -90px -5px;
}

.search-hotel {
	text-align: center;	
}

.search-hotel-header {
	margin-bottom: 30px;
}

.search-hotel-description {
	color: #333333;
	margin-bottom: 54px;
}

.btn-search-hotel {
	display: block;
	width: 576px;
	margin: 0 auto;
	padding: 34px 0;
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #766357;
}

.search-modal {
	display: none;	
	position: absolute;
	left: 50%;	
	z-index: 2;
	width: 464px;
	padding: 56px;
	margin: 0 auto;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	text-align: left;
	background-color: #ffffff;
}

.modal-show {
	display: block;
}

.search-form {
	padding: 0;
	margin: 0;	
	font-weight: bold;
	text-transform: uppercase;
}

.search-form label + input[type="text"] {
	margin-bottom: 30px;
}

.search-form input[type="text"] {
	display: inline-block;
	width: 320px;
	padding: 8px;
	outline: none;
	font-family: "PT Sans", "Arial", sans-serif;
	text-transform: uppercase;
	border: 2px solid #f2f2f2;
	background-color: #f2f2f2;
}

.search-form input[type="text"]:hover {
	background-color: #ebebeb;
	border: 2px solid #ebebeb;
}

.search-form input[type="text"]:active {
	background-color: transparent;
	border-color: #e5e5e5; 
}

.search-form input[type="text"]:nth-child(2) {
	margin-left: 29px;	
}

.search-form label {
	position: relative;
}

.search-form label:before,
.search-form label:after {
	content: "\e800";
	position: absolute;
	left: 440px;
	top: -4px;
	font-family: "symbols-sedona";
	font-style: 21px;
	line-height: 26px;
	font-weight: normal;
	color: #c2c2c2;
	cursor: pointer;	
}

.search-form input[type="text"]:nth-child(4) {
	margin-left: 26px;	
}

.search-form input[type="text"]:nth-child(6),
.search-form input[type="text"]:nth-child(8) {
	width: 98px;	
}

.search-form input[name="adult"] {
	margin-right: 40px;
	margin-left: 48px;
	text-align: center;
}

label.adult:before,
label.children:before {
	content: "\e801";
	position: absolute;	
	top: -3px;
	cursor: pointer;
}

label.adult:before { 
	left: 220px;
}

label.children:before { 
	left: 155px;
}

label.adult:after,
label.children:after {
	content: "\e802";
	position: absolute;	
	top: -3px;
	cursor: pointer;
}

.search-form input[name="children"] {	
	margin-left: 18px;
	text-align: center;
}

label.adult:after { 
	left: 135px;
}

label.children:after { 
	left: 70px;
}

.search-form input[type="submit"] {
	width: 100%;
	padding: 19px 0;
	border: none;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 21px;
	line-height: 26px;	
	text-transform: uppercase;
	color: #ffffff;
	background-color: #81b3d2;
	outline: none;
}

.search-form input[type="submit"]:hover {
	background-color: #669ec0;
}

.search-form input[type="submit"]:active {
	background-color: #5496bd;
	color: rgba(255,255,255, 0.3);
}

/*Catalog styles*/
.filters {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 26px;	
	background: #7aabcb url("../img/filter-background.png") no-repeat;
	color: #ffffff;
}

.filter-form {
	padding: 0;
	margin: 0;
}

.filter-block {
	float: left;
	width: 240px;
	padding: 30px 0;	
}

.filter-block:first-child {
	margin-right: 20px;
}

.filter-block:last-child {
	float: right;
	width: 330px;	
}

.filter-title {
	margin-bottom: 30px;
	font-size: 16px;
	line-height: 21px;
}

.filter-control {
	position: relative;
	margin-bottom: 23px;
}

.filter-control:last-child {
	margin-bottom: 0;
}

.filter-control input[type="checkbox"] {
	display: none;	
}

.filter-control input[type="checkbox"] + label {	
	display: inline-block;
	vertical-align: middle;
	padding-left: 35px;
	cursor: pointer;
}

.filter-control input[type="checkbox"] + label:before {	
	content: "";
	display: inline-block;
  vertical-align: middle;
  position: absolute;
  left: 0;
  font-size: 21px;
  font-family: "symbols-sedona"; 
  color: #b5b5b5; 
}

.filter-control input[type="checkbox"] + label:before {
	content: "\2610";	
}

.filter-control input[type="checkbox"]:checked + label:before {
	content: "\2611";	
}

.filter-control input[type="checkbox"] + label:hover:before {
	color: #fefefe;
}

.filter-control input[type="checkbox"] + label:active:before {
	color: #6a6a6a;
}

.price-controls {
	position: relative;	
	padding: 3px 63px;
	margin-bottom: 20px;
	width: 200px;
	border: 2px solid #ffffff;
	border-radius: 3px;
	font-size: 0;	
}

.price-controls:after {
	content: "";
	position: absolute;
	left: 50%;
	top: 5px;
	width: 2px;
	height: 22px;
	background-color: #ffffff;
}

.price-controls label {
	display: inline-block;	
	vertical-align: middle;
	width: 50%;
	font-size: 14px;
	line-height: 21px;
}

.price-controls input[type="text"] {
	width: 40px;
	border: none;
	background-color: transparent;
	outline: none;
	text-transform: uppercase;
}

.max-price {
	text-align: right;
}

.range-controls {
	position: relative;
	height: 20px;	
}

.range-controls .scale {	
	height: 2px;
	background-color: #7c7879;
}

.range-controls .bar {
	width: 80%;
	height: 2px;
	background-color: #ffffff;
}

.range-controls .toggle {
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	border: 8px solid #ffffff;
	border-radius: 50%;
	background-color: #ababab;
	cursor: pointer; ;
}

.range-controls .toggle:hover {
	background-color: #1c4f80;
}
.range-controls .min-toggle {
  left: 0;
}

.range-controls .max-toggle {
  left: 80%;
}

.btn-filter {
	display: block;
	width: 138px;
	margin: 0 auto;
	padding: 8px 0;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	background-color: transparent;
	outline: none;
	border: 2px solid #ffffff;
	border-radius: 3px;
}

.find-count {
	width: 135px;
	float: left;
	margin-right: 30px;	
}

.find-count h1 {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.top-filter {
	position: relative;
	float: left;	
	width: 891px;
	margin-bottom: 30px;
}

.top-filter span {
	margin-right: 38px;
	font-size: 12px;
	line-height: 18px;
}

.top-filter a {
	margin-right: 32px;
	font-size: 12px;
	line-height: 18px;
	color: rgba(0,0,0,0.3);
	text-transform: uppercase;
	text-decoration: none;	
	border-bottom: 1px dotted #81b3d2;	
}

.top-filter a:last-child,
.top-filter a:nth-child(5) {
	position: absolute;	
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);	
	margin-right: 0;
	border-bottom: none;
	color: #000000;
}

.top-filter a:last-child {
	right: 0;
}

.top-filter a:nth-child(5) {	
	right: 15px;
}

.top-filter a:last-child:before {
	content: "\25bc";
}

.top-filter a:nth-child(5):before {
	content: "\25b2";
}

.top-filter a.active {
	color: #81b3d2;
	border-bottom: none; 
}

.top-filter a:hover {
	color: #81b3d2;
}

.top-filter a:active {
	color: #000000;
	border-bottom: none;
}

.top-filter a:last-child:before:active {
	color: #81b3d2;
}

.top-filter a:nth-child(5):before:active {
	color: #81b3d2;
}

.hotel {
	padding: 30px 70px;
	margin-top: -1px;	
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;	
}

.hotel-image {
	float: left;
	width: 135px;
	height: 90px;
	margin-right: 30px;
	background-color: #e5e5e5;
}

.hotel-info {
	float: left;
	width: 270px;
	height: 90px;
	font-size: 0;
}

.hotel-title {
	display: block;
	margin-bottom: 10px;
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}

.hotel-title:hover {
	color: #81b3d2;
} 

.hotel-title:active {
	color: rgba(0,0,0,0.3);
}

.more-block,
.booking-block {
	display: inline-block;
	width: 110px;
	margin-right: 7px;
}

.booking-block {
	width: 140px;
}

.hotel-type,
.hotel-price {
	display: inline-block;
	margin-bottom: 6px;
	font-size: 14px;
	line-height: 21px;
	color: #333333;
}

.hotel-type {
	margin-right: 40px;
}

.btn-more,
.btn-booking {
	display: inline-block;	
	margin-right: 7px;
	padding: 5px 16px;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;	
	border: none; 
}

.btn-more {
	background-color: #81b3d2;
}

.btn-more:hover {
	background-color: #669ec0;
}

.btn-more:active {
	background-color: #5496bd;
	color: rgba(255,255,255,0.3);
}

.btn-booking {
	background-color: #766357;
}

.btn-booking:hover {
	background-color: #604e43;
}

.btn-booking:active {
	color: rgba(255,255,255,0.3);
}

.hotel-rating {
	float: right;
	width: 112px;
}

.rating-stars {	
	margin-bottom: 45px;
	font-size: 14px;
	line-height: 14px;
	text-align: right;	
}

.icon-star:before {
	vertical-align: top;
	margin: 0;	
	font-family: "symbols-sedona";
	color: #81b3d2;
}

.rating-title {
	width: 112px;
	padding: 5px 0;
	font-size: 14px;
	line-height: 21px;
	color: #666666;
	text-align: center;
	background-color: #f2f2f2;
}

/*Catalog styles end*/

.footer {
	position: relative;
}

.map-block {
	background: #f5f4f0 url("../img/map.png") no-repeat 50% 100%;
	min-height: 593px;
}

.footer-info {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 38px 0;
	font-size: 0;
	background-color: rgba(255,255,255,0.9);
}

.footer-hotels .footer-info {
	position: static;
}

.footer-block {
	display: inline-block;
	vertical-align: middle;
	width: 400px;
	text-align: center;
}

.hashtag {	
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.btn-social {
	position: relative;	
	display: inline-block;
	vertical-align: middle;
	width: 45px;
	height: 45px;
	margin-right: 7px;
	font-size: 20px;
	text-decoration: none;
	background-color: #81b3d2;
	color: #ffffff;
	text-align: center;
}

.icon-twitter,
.icon-facebook,
.icon-youtube {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.btn-social:hover {
	background-color: #669ec0;
}

.btn-social:active {
	background-color: #5496bd;
	color: rgba(255,255,255,0.3)
}

.designed {
	position: relative;
	font-size: 14px;
	line-height: 26px;
	color: #000000;	
	text-align: left;	
}

.designed span {
	margin-left: 80px;
}

.designed a {
	display: inline-block;
	vertical-align: middle;
	width: 113px;
	height: 39px;
	margin-left: 10px;
	background: url("../img/spritesheet.png") no-repeat;
	background-position: -164px -5px;
}

