/* colors */
$color-yellow: #f9b43b;
$color-orange: #e45028;
$color-green: #8ac03e;
$color-gray: #2f3234;

@import "settings/settings.scss";
@import "sections/sections.scss";
@import "media/media.scss";
