.action {
  position: relative;
  width: 100%;
  min-height: 229px;
  padding:12px 20px;
  padding-bottom: 70px;
  border-radius: 12px;
  color: $c_white;
  margin-bottom: 40px;
  background-color: #6d1426;


  &--raspberry {
  background-image: url(../img/bg_gift-malina.png);
  }


  &--chocolate {
    background-color: #40261b;
    background-image: url(../img/bg_gift-chocolate.png);
  }


  &__title {
    margin-bottom: 14px;
    font-size: 35px;
    font-weight: $font-w--bold;
    color: $c_white;
  }


  &__text {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.26;
    font-weight: $font-w--bold;
  }


  &__btn {
    position: absolute;
    bottom: 26px;
    right: 21px;
  }
}