 .catalog-item {
  position: relative;
  width: 100%;
  margin-bottom: 39px;
  text-align: center;


  &--zindex {
    z-index: 10;
  }

  &--hit::before {
    content: "";
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 61px;
    height: 61px;
    background-image: url(../img/icon_product-hit.png);
    background-repeat: no-repeat;
  }


  &__wrap {
    position: relative;
    width: 100%;
  }

  &__img-wrap {
    position: relative;
    z-index: 3;
    width: 100%;
    margin-bottom: 12px;
    padding-bottom: 100%;
    overflow: hidden;
    border-radius: 50%;
  }


  &__image {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
  }


  &__price {
    position: absolute;
    z-index: 4;
    left: -1px;
    bottom: 7px;
    font-size: 45px;
    color: $c_white;
    font-weight: $font-w--bold;
    text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
  }


  &__currency {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }


  &__currency::after {
    margin-right: 3px;
    margin-left: 5px;
    content:"\e806";
    font-family: "fontello";
    font-size: 40px;
    font-style: normal;
    font-weight: normal;
    color: #fff;
    text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
  }


  &__price  small{
    font-size: 66%;
  }


  &__discription {
    display: inline;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    color: $c_white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }


  &:hover &__discription {
    border-bottom: none;
  }


  &__btn {
    position: absolute;
    z-index: 4;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -49px;
    visibility: hidden;
    opacity: 0;
    animation-name: btn-hide;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
  }

  &:hover &__btn {
    animation-name: bounceInUp;
    animation-duration: 0.6s;
    animation-delay: 0.2s;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-fill-mode: forwards;
  }



  &::after {
    content:"";
    position: absolute;
    z-index: 2;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -65px;
    opacity: 0;
    visibility: hidden;
    border-radius: $bdrs;
    background-color: rgba(248, 247, 244, 0.3);
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s, box-shadow 0.3s;
    animation-name: catalog-item-hide;
    animation-duration: 0.65s;
    animation-fill-mode: forwards;
  }

  &:hover::after {
    animation-name: catalog-item-show;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }


  &:hover {
    z-index: 10;
    cursor: pointer;
  }
}