.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 41px;
  margin-bottom: 40px;


  &__list {
    @include list-null;
    margin-right: -10px;
    font-size: 0;
    display: flex;
  }


  &__item {
    margin-left: 3px;
    font-size: 16px;
    font-weight: $font-w--medium;
    color: $c_white;
  }


  &__link {
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: $c_white;
    text-decoration: none;
  }


  &__link:not(.catalog-pagination__link--current):hover {
    background-color: rgba(255, 255, 255, 0.2);
  }


  &__link-prev,
  &__link-next {
    @include font-null;
    position: relative;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
  }


  &__svg-prev,
  &__svg-next {
    position: absolute;
    top: 50%;
    left: 50%;
    fill: #fff;
    transform: translate(-50%,-50%);
  }


  &__link-next {
    margin-left: 4px;
  }


  &__link-prev {
    margin-right: 4px;
  }


  &__link-prev--disabled &__svg-prev,
  &__link-next--disabled &__svg-next  {
    fill: rgba(255, 255, 255, 0.2);
  }


  &__link-prev--disabled,
  &__link-next--disabled,
  &__link--current  {
    cursor: default;
  }



  &__link--current,
  &__link:active,
  &__link:active:hover {
    background-color: #fff;
    color: #353535;
  }

}