@charset "UTF-8";

@font-face {
	font-family: 'symbols-nerds';
	src: url('../font/symbols-nerds.eot?27841936');
	src: url('../font/symbols-nerds.eot?27841936#iefix') format('embedded-opentype'),
			 url('../font/symbols-nerds.woff?27841936') format('woff'),
			 url('../font/symbols-nerds.ttf?27841936') format('truetype'),
			 url('../font/symbols-nerds.svg?27841936#symbols-nerds') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-nerds';
    src: url('../font/symbols-nerds.svg?27841936#symbols-nerds') format('svg');
  }
}
*/
 
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "symbols-nerds";
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	/* opacity: .8; */

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .2em;

	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */

	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-basket:before { content: '\62'; } /* 'b' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-vk:before { content: '\76'; } /* 'v' */
.icon-up-dir:before { content: '\25b2'; } /* '▲' */
.icon-down-dir:before { content: '\25bc'; } /* '▼' */
.icon-circle:before { content: '\25cb'; } /* '○' */
.icon-circle-dot:before { content: '\25cf'; } /* '●' */
.icon-check-off:before { content: '\2610'; } /* '☐' */
.icon-check-on:before { content: '\2611'; } /* '☑' */
.icon-instagramm:before { content: '📷'; } /* '\1f4f7' */

body {
	min-width: 900px;

	font-size: 16px;
	line-height: 22px;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 500;

	color: #283136;
}

img {
	max-width: 100%;
	vertical-align: top;
}

h2 {
	font-size: 18px;
	line-height: 30px;
}

a {
	text-decoration: none;
	text-transform: uppercase;
	
	color: #ffffff;
}

.container {
	width: 900px;
	margin: 0 auto;
	padding: 0 10px;
	box-sizing: border-box;
	position: relative;
}

::-webkit-input-placeholder {
	color:#000000;
	text-transform: uppercase;
}

::-moz-placeholder {
	color:#000000;
	text-transform: uppercase;
}/* Firefox 19+ */

:-moz-placeholder {
	color:#000000;
	text-transform: uppercase;
}/* Firefox 18- */

:-ms-input-placeholder {
	color:#000000;
	text-transform: uppercase;
}

@-webkit-keyframes open {
	0% {transform: translateY(2000px);}
	70% {transform: translateY(-30px);}
	90% {transform: translateY(10px);}
	100% {transform: translateY(0);}
}

@keyframes open {
	0% {transform: translateY(2000px);}
	70% {transform: translateY(-30px);}
	90% {transform: translateY(10px);}
	100% {transform: translateY(0);}
}

@-webkit-keyframes error {
	0%, 100% {transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
	20%, 40%, 60%, 80% {transform: translateX(10px);}
}

@keyframes error {
	0%, 100% {transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
	20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

/***Хедер. Начало***/

.main-header {
	margin-bottom: 80px;

	background-color: #eeeeee;
}

.form-not-js .main-header {
	padding-bottom: 27px;
}/*Для формы без JS*/

/**Логотип. Главная страница**/

.logo {
	float: left;
	width: 139px;
	height: 56px;
	padding-top: 27px;
}

/**Основное меню. Начало**/

.main-navigation {
	float: right;
	max-width: 660px;
}

.main-navigation ul {
	margin: 0;
	padding: 0;

	font-size: 0;
	list-style: none;
}

.main-navigation li {
	display: inline-block;

	font-size: 14px;
	line-height: 30px;
	vertical-align: top;
}

.main-navigation a {
	display: block;
	padding-top: 50px;
	padding-right: 45px;

	color: #000000;
}

.main-navigation .basket {
	padding-right: 0;
	padding-left: 20px;	
}

.basket .icon-basket {
	padding-right: 10px;
	opacity: 0.3;
}

.main-navigation a:hover {
	color: #fb565a;
}

.main-navigation .active a:hover {
	color: #000000;
}

.main-navigation a:active {
	color: #000000;
	opacity: 0.4;
}

.main-navigation .active a {
	position: relative;
}

.main-navigation .active a:after {
	content: "";

	position: absolute;
	bottom: 0;
	left: 0;
	right: 45px;

	height: 2px;

	background: #fb565a; 
}

/**Основное меню. Конец**/

/**Заголовок каталога. Начало**/

.header-title {
	width: 700px;
	margin: 0 auto;
	padding-top: 60px;
	padding-bottom: 80px;

	font-size: 40px;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;

	color: #000000;
}

/**Заголовок каталога. Конец**/

/**Фильтер. Начало**/

fieldset {
	padding: 0;
	border: none;
}

legend {
	margin-bottom: 11px;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}

.filter {
	float: left;
	width: 250px;
}

.filter-price {
	margin-bottom: 47px;
}

.range {
	position: relative;
	height: 41px;
	margin-bottom: 14px;
	padding: 0 20px;
	padding-top: 39px;

	background-color: #f1f1f1;
	border-radius: 5px;
	overflow: hidden;
}

.range .range-line {
	height: 2px;
	background: #d7dcde;
}

.range .range-scale {
	height: 2px;
	background: #00ca74;
}

.range-btn {
	position: absolute;
	top: 30px;
	left: 0;
	width: 4px;
	height: 4px;

	border: 8px solid #ffffff;
	background-color: #ababab;
	cursor: pointer;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 #cfcfcf;	
}

.range-btn-min {
	left: 20px;
}

.range-btn-max {
	left: 145px;
}

.range-fileds {
	text-transform: uppercase;
}

.range-fileds label {
	display: inline-block;
	vertical-align: top;
}

.range-fileds label:last-child {
	margin-left: 10px;
}

.range-fileds input {
	margin-left: 10px;
	width: 80px;
	outline: none;
}

.filter input {
	padding: 8px 10px;

	text-align: center;

	color: #283136;
	border-radius: 5px;
	border: none;
	background-color: #f1f1f1;
	box-sizing: border-box;
}

.filter .filter-box {
	margin-bottom: 26px;
}

.filter-box input[type="radio"] {
	display: none;
}

.filter-box input[type="radio"] + label {
	display: block;

	line-height: 20px;
	cursor: pointer;
}

.filter-box input[type="radio"] + label:before {
	content: '\25cb';
	display: inline-block;
	margin-right: 10px;

	font-size: 28px;
	font-family: "symbols-nerds";
	color: #c1c1c1;
	vertical-align: middle;
}

.filter-box input[type="radio"]:checked + label:before{
	content: '\25cf';
}

.filter-box input[type="checkbox"] {
	display: none;
}

.filter-box input[type="checkbox"] + label {
	display: block;
	line-height: 20px;
	cursor: pointer;
}

.filter-box input[type="checkbox"] + label:before {
	content: '\2610';
	display: inline-block;
	margin-right: 10px;
	width: 26px;
	font-size: 28px;
	font-family: "symbols-nerds";
	color: #c1c1c1;
	vertical-align: middle;
}

.filter-box input[type="checkbox"]:checked + label:before{
	content: '\2611';
}

.filter-box label {
	margin-bottom: 18px;
}

.filter input[type="submit"] {
	width: 153px;
	height: 38px;
	margin-top: 11px;

	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	outline: none;
	white-space: pre-wrap;	
}

.filter input[type="submit"]:hover {
	background-color: #e5e5e5;
}

.filter input[type="submit"]:active {
	box-shadow: 0 -3px 0 0 #b5b5b5;

	background-color: #d5d5d5;
}

.filter-box label:hover {
	color: #000000;
}

.filter-box input[type="checkbox"]:hover + label:before {
	color: #b5b5b5;
}

.filter-box input[type="radio"]:hover + label:before {
	color: #b5b5b5;
}

/**Фильтер. Конец**/

/**Переключатель галереи. Начало**/

.paginator a {
	display: inline-block;
	min-width: 38px;
	height: 38px;
	margin-right: 8px;

	font-size: 12px;
	line-height: 38px;
	text-align: center;
	vertical-align: middle;

	color: #101010;
	background-color: #f1f1f1;
	border-radius: 5px;
}

.paginator .next {
	padding: 0 30px;
}

.paginator a:hover {
	background-color: #e5e5e5;
}

.paginator a:active {
	background-color: #d5d5d5;
	box-shadow: inset 0 3px 0 0 #b5b5b5;
}

.paginator .disabled {
	min-width: 36px;
	height: 36px;

	background-color: #ffffff;
	border: 2px solid #f2f2f2;
}

/**Переключатель галереи. Конец**/

/**Сортировка каталога. Начало**/

.catalog-sorting {
	font-size: 0;
	line-height: 18px;

	color: #000000;
}

.catalog-sorting span {
	margin-right: 40px;

	font-size: 12px;
	vertical-align: text-bottom;
	text-transform: uppercase;
}

.catalog-sorting a {
	display: inline-block;
	margin-right: 45px;
	margin-bottom: 22px;

	font-size: 12px;
	color: #000000;
	border-bottom: 1px dotted #00ca74;
	opacity: 0.3;

	vertical-align: top;
}

.catalog-sorting a:hover {
	opacity: 1;
}

.sort-updown {
	float: right;
	font-size: 23px;

	color: #c1c1c1;
}

.sort-updown i {
	display: inline-block;
	font-size: 20px;
	cursor: pointer;
	line-height: 14px;
	vertical-align: top;
}

.sort-updown i:before {
	width: auto;
	margin-right: 0;
}

.sort-updown span {
	margin-right: 0;

}
.sort-updown span:hover {
	color: #b5b5b5;
}

.sort-updown span:active {
	color: #000;
}

.sort-updown .active {
	color: #00ca74;
}

/**Сортировка каталога. Конец**/

/**Каталог. Начало**/

.catalog {
	padding-left: 319px;
}

.catalog-item {
	display: inline-block;
	position: relative;
	margin: 0 76px 80px 0;
	padding-top: 30px;

	vertical-align: top;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 5px 5px 0 0;
}

.catalog-item:nth-child(2n) {
	margin-right: 0;
}

.catalog-item span {
	position: absolute;
	top: 10px;
	width: 10px;
	height: 10px;
	margin-left: 30px;

	background-color: #ffffff;
	border-radius: 10px;
}

.catalog-item span:before,
.catalog-item span:after {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;

	background-color: #ffffff;
	border-radius: 10px;
}

.catalog-item span:before {
	left: -16px;
}

.catalog-item span:after {
	right: -16px;
}

.catalog-item .description {
	position: absolute;
	left: 50%;
	top: 50%;

	width: 200px;
	height: 200px;
	margin-top: -85px;
	margin-left: -100px;

	text-align: center;
	background-color: #ffffff;
}

.catalog-item .description-title {
	padding-top: 19px;

	line-height: 9px;
	font-size: 18px;
	text-transform: uppercase;
}

.catalog-item .description-text {
	padding-left: 20px;
	padding-right: 20px;

	font-size: 14px;
	line-height: 18px;
}

.catalog-item .description {
	display: none;
}

.catalog-item:hover .description {
	display: block;
}

/**Каталог. Конец**/

/**Слайдер. Начало**/

.slider {
	position: relative;
}

.slider input {
	display: none;
}

.slide {
	display: none;
	overflow: hidden;
}

.slider-controls {
	position: absolute;
	left: 50%;
	bottom: 95px;
	width: 200px;
	margin-left: -100px;

	line-height: 10px;
	text-align: center;
}

.slider-controls label {
	display: inline-block;
	width: 4px;
	height: 4px;
	margin: 0 3px;

	vertical-align: middle;
	background-color: #ffffff;
	border: 3px solid #ffffff;
	border-radius: 100%;
	cursor: pointer;
}

#slideFirst:checked ~ .slider-controls label[for="slideFirst"],
#slideSecond:checked ~ .slider-controls label[for="slideSecond"],
#slideThree:checked ~ .slider-controls label[for="slideThree"] {
	background-color: #c1c1c1;
}

#slideFirst:checked ~ .slide-first,
#slideSecond:checked ~ .slide-second,
#slideThree:checked ~ .slide-three {
	display: block;
}

.slide-text {
	float: left;
	width: 480px;
	padding-top: 70px;

}

.slide-title {
	font-size: 36px;
	line-height: 36px;

	color: #000000;
}

.slide-text p {
	margin-bottom: 30px;
}

.slide-img {
	float: right;
}

.slide-first .slide-img {
	padding-top: 50px;
	padding-bottom: 71px;
}

.slide-second .slide-img {
	padding-top: 53px;
	padding-bottom: 50px;
}

.slide-three .slide-img {
	padding-top: 33px;
}

/**Слайдер. Конец**/

/***Хедер. Конец***/


/***Основной контент. Начало***/

/**Сервисы. Начало**/

.services {
	padding-bottom: 78px;
	border-bottom: 2px solid #eeeeee;
}

.services-item {
	float: left;
	width: 240px;
	margin-right: 80px;
}

.services-item:last-child {
	margin-right: 0;
}

.services-item p {
	margin-bottom: 30px;
	font-size: 15px;
}

.services-title {
	margin-top: 25px;
	text-transform: uppercase;
}

/**Сервисы. Конец**/

/**О компании. Начало**/

.about {
	padding-bottom: 68px;
	border-bottom: 2px solid #eeeeee;
}

.about-left {
	float: left;
	width: 570px;
}

.about-right {
	float: right;
	width: 240px;
}

.about-left > p:first-child {
	margin: 0;
	margin-top: 70px;

	font-size: 36px;
	line-height: 36px;
}

.about-logo {
	margin-top: 60px;
}

.about-list > p {
	text-transform: uppercase;
}

.about-left .about-list > p {
	margin-top: 47px;
}

.about-right .about-list > p {
	margin-top: 67px;
}

.list-styled {
	padding: 0;
	margin: 0;
}

.list-styled li {
	position: relative;
	margin-bottom: 23px;

	list-style: none;
}

.list-styled li:last-child {
	margin-bottom: 0;
}

.list-styled li:before {
	content: '';
	display: inline-block;
	width: 25px;
	height: 2px;
	margin: 8px 5px 8px 0;
	vertical-align: middle;
	background-color: #fb565a;
}

/**О компании. Конец**/

/**Портфолио. Начало**/

.portfolio {
	width: 855px;
	margin: 0 auto;
	border-bottom: 2px solid #eeeeee;
}

.portfolio a {
	display: inline-block;
	margin-top: 45px;
	margin-right: 120px;
	margin-bottom: 33px;

	opacity: 0.2;
	vertical-align: middle;
}

.portfolio a:last-child {
	margin-right: 0;
}

.portfolio a:hover {
	opacity: 1;
}

/**Портфолио. Конец**/

/**Карта. Начало**/

.map {
	position: relative;
	width: 100%;
	height: 416px;
	margin-top: 85px;
}

.map .map-image {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url("../img/map.jpg") no-repeat center;
}
.map .contacts {
	display: block;
	position: absolute;
	top: 90px;
	left: 0;

	width: 210px;
	min-height: 158px;
	padding: 20px 20px;

	line-height: 20px;

	background-color: #ffffff; 
}

.contacts .contacts-title {
	font-size: 16px;
}

.contacts .phone {
	margin-bottom: 30px;
}

/**Всплывающая форма. Начало**/

.form-not-js .feedback-form {
	display: block;
	position: relative;
	box-shadow: none;
}/*Для формы без JS*/

.form-not-js .feedback-form-close {
	display: none;
}/*Для формы без JS*/

.feedback-form {
	display: none;
	position: absolute;
	top: 0;
	left: 50%;
	width: 470px;
	margin-top: -38px;
	margin-left: -315px;
	padding: 50px 80px;

	font-size: 0;
	color: #000000;
	background-color: #ffffff;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.feedback-form-show {
	display: block;
	-webkit-animation: open 0.6s;
	animation: open 0.6s;
}

.form-error {
	-webkit-animation: error 0.6s;
	animation: error 0.6s;
}

.feedback-form-close {
	position: absolute;
	top: 6px;
	right: 6px;
	width: 40px;
	height: 40px;

	background: #fb565a url("../img/close.png") no-repeat center;
	border-radius: 100%;
	cursor: pointer;
}

.feedback-form .half-width {
	display: inline-block;
	width: 220px;
	margin-bottom: 20px;
	vertical-align: top;
}

.feedback-form label {
	display: block;
	margin-bottom: 10px;

	font-size: 16px; 
}

.feedback-form .half-width:first-child {
	margin-right: 21px;
}

.feedback-form input {
	width: 194px;
	margin: 0;
	padding: 8px 15px;

	line-height: 18px;
	font-size: 12px;
	border: 2px solid #d7dcde;
	outline: none;
	border-radius: 5px;
}

.feedback-form input:hover {
	border: 2px solid #a2a9ac;
}

.feedback-form input:focus {
	border: 2px solid #57bffb;
}

.feedback-form textarea {
	width: 435px;
	min-height: 90px;
	padding: 10px 15px;
	margin-bottom: 40px;

	line-height: 18px;
	font-size: 12px;
	color: #000000;
	outline: none;
	border: 2px solid #d7dcde;
	border-radius: 5px;
	resize: none;
}

.feedback-form textarea:hover {
	border: 2px solid #a2a9ac;
}

.feedback-form textarea:focus {
	border: 2px solid #57bffb;
}

.feedback-form button {
	display: inline-block;
	margin-right: 14px;
	vertical-align: top;
	outline: none;
}

.feedback-form button:last-child {
	margin-right: 0;
}

/**Всплывающая форма. Конец**/

/**Карта. Конец**/

/**Футер. Начало**/

.main-footer {
	margin-top: 80px;
	margin-bottom: 75px;
}

.form-not-js .main-footer {
	margin-bottom: 0;
}/*Для формы без JS*/

.footer-social {
	float: left;
}

.footer-social .social-btn {
	display: inline-block;
	width: 60px;
	height: 60px;
	margin-right: 25px;

	font-size: 23px;
	background-color: #e1e1e1;
	text-align: center;
	vertical-align: top;
	border-radius: 100%;
	cursor: pointer;	
}

.social-btn i {
	display: inline-block;
	margin-top: 17px;
	vertical-align: top;
}

.footer-social .social-btn:hover {
	background-color: #fb565a;
}

.footer-social .social-btn:active {
	background-color: #d6494d;
}

.footer-text {
	padding-left: 320px;
}

.footer-text p {
	margin: 0;
	padding-bottom: 7px;
	
	font-size: 36px;
	line-height: 36px;

	color: #000000;
}

.footer-text span {
	font-weight: bold;
	color: #283136;
}

/**Футер. Конец**/

/***Кнопки. Начало***/

.btn {
	display: block;
	padding: 10px 0;

	font-size: 12px;
	line-height: 18px;
	font-family: "Roboto", "Arial", sans-serif;
	text-align: center;

	border-radius: 3px;

	cursor: pointer;
	border: none;
}

.slide .btn {
	width: 240px;
	margin-bottom: 50px;
}

.services .btn {
	width: 140px;
}

.map .btn {
	width: 200px;
}

.feedback-form .btn {
	width: 228px;
	font-size: 12px;
	text-transform: uppercase;
	color: #ffffff;
}

.feedback-form .btn-gray {
	color: #000000;
}

.feedback-form .btn-gray:hover {
	background-color: #e5e5e5;
}

.feedback-form .btn-gray:active {
	background-color: #d5d5d5;
}

.catalog-item .btn {
	width: 140px;
	margin: 0 auto;
	margin-top: 30px;

	font-size: 18px;
}

.btn-red {
	background-color: #fb565a; 
}

.btn-green {
	background-color: #00ca74;	
}

.btn-orange {
	background-color: #efc84a;	
}

.btn-red:hover {
	background-color: #d6494d;
}

.btn-green:hover {
background-color: #01a25e;
}

.btn-orange:hover {
	background-color: #d6ae2c;
}

.btn-red:active {
	background-color: #b63538;
}

.btn-green:active {
	background-color: #009053;
}

.btn-orange:active {
	background-color: #c09b24;
}
.btn-gray:active,
.btn-red:active,
.btn-green:active,
.btn-orange:active {
	box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.15);
}
/***Кнопки. Конец***/