.advantages {
  text-align: center;
  background-color: #ffffff;
  background-image: url("../img/bg/bg-advantages.jpg");
}

.advantages__item {
  display: inline-block;
  width: 30%;
  padding: 0 10px;
  vertical-align: top;
}

.advantages__item-title {
  margin-bottom: 25px;
  font-size: 2.4rem;
  line-height: 1.16;
  @include lifehack(medium);
}

.advantages__item-dscr {
  margin-top: 0;
}

.advantages__icon {
  height: 90px;
  margin-bottom: 20px;
}
