.feedback {
  position: relative;
  background-color: #8d8d8d;
  background-image: none;
  @extend %clearfix;
  height: 100%;
}

.feedback__item {
  float: left;
  width: 25%;
  height: 50%;
  color: #ffffff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);

  .feedback__hover {
    display: none;
    height: 100%;
    padding: 48px 20px;
    box-sizing: border-box;
    background-color: rgba(#141414, 0.7);

    .feedback__btn {
      background-color: #2f3234;
    }
  }

  &:hover {
    .feedback__hover {
      display: block;
    }
  }
}

.feedback__title {
  @include gagalin(regular);
}

.feedback__modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  width: 460px;
  padding: 30px 20px;
  color: $color-gray;
  background-color: #ffffff;
  border-radius: 5px;
  transform: translate(-50%, -50%);

  &--show {
    display: block;
  }

  .feedback__modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 0;
    outline: none;
    border: none;
    width: 22px;
    height: 22px;
    background-color: transparent;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 8px;
      left: 0;
      width: 21px;
      height: 4px;
      background-color: $color-orange;
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 8px;
      left: 0;
      width: 21px;
      height: 4px;
      background-color: $color-orange;
      transform: rotate(-45deg);
    }
  }
}
