.map {
  position: relative;
  background-color: #aacbd9;
}

.map__yandex {
  height: calc(100% - 59px);
}

.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 6px 0;
  @extend %clearfix;
  @include ubuntu(regular);
  background-color: #000000;
  background-image: url("../img/bg/bg-footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.contacts {
  float: left;
  width: 70%;
  color: #ffffff;

  .contacts__tel {
    color: $color-orange;
  }

  .contacts__icon {
    width: 12px;
    height: 12px;
  }
}

.social {
  float: right;
  width: 30%;
  padding: 12px 0;
  text-align: right;

  .social__btn {
    display: inline-block;
    width: 21px;
    height: 21px;
    margin-left: 20px;
    opacity: 0.3;
    vertical-align: middle;

    &:hover {
      opacity: 1;
    }
  }
}
