.products {
  position: relative;
  background-color: #647d91;
  background-image: url("../img/bg/bg-products.jpg");
}

.products__title {
  position: absolute;
  top: 10%;
  left: 10%;
}

.products__list {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  @extend %clearfix;
  list-style: none;
  color: #ffffff;
}

.products__item {
  float: left;
  height: 100%;
  @extend %clearfix;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;

  .products__link {
    position: relative;
    float: left;
    display: block;
    width: 80px;
    height: 100%;
    color: #ffffff;
    background-color: rgba(#141414, 0.7);

    &-text {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 650px;
      margin-left: -325px;
      @include gagalin(regular);
      font-size: 4.0rem;
      text-align: center;
      text-decoration: none;
      white-space: nowrap;
      transform: rotate(-90deg);
    }
  }

  .products__content {
    transition: width 0.5s;
    float: left;
    width: 0;
    height: 100%;
    overflow: hidden;
    background-color: rgba(#2f3234, 0.93);

    .products__text {
      width: 540px;
      padding: 60px 35px;
    }
  }
}

.products__item--active {
  .products__link {
    color: $color-yellow;
  }

  .products__content {
    width: 540px;
  }
}
